/*
Headings/Footer/Body
*/

h1,h2 {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: #120D18;  
    margin: 0 0 0 3px;
}
h2 {
    color: #E3E6EE;
    font-style: italic;
    font-size: 1rem;
    letter-spacing: .2rem;
}
.text-addons {
    color: #383A3C;
    letter-spacing: .2rem;
}
header, footer {
    width: 100%;
    background-color:#9BDBE8;          
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    border-width: 5px 0px 0px;
    border-style: groove;
    border-color: #383A3C;
}
header img {
    width: 110px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Arimo', sans-serif;
    background-color: #383A3C;
}

/*NAVIGATION BAR*/
nav {
    background-color: #120D18;
    color: #383A3C;
}
.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    border-style: groove;
    border-color: #383A3C;
    border-width: 3px 0px 3px;
    margin: 0 auto;
}
.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: #9BDBE8;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: 800;
}
.navigation a:hover {
    background-color:#E3E6EE;
    color:#383A3C;
}
.active {
    background-color: #888D91;
    color: #E3E6EE;
}
.responsive li {
    display: block;
}

/* MAIN */
.content {
    display: block;
    background-color: #E3E6EE;
    color: #120D18;
    border: 5px outset#120D18;
    border-radius: 3px;
    margin: .5em;
    padding: .3em;
}
