/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Verdana, Geneva, sans-serif;
    color: deepskyblue;
    background-color: #bbb;
}

h1 {
    font-size: 1.8rem
        /* x.xrem  (rem is a unit of measure) */
    ;
    color: dimgray
        /* #xxxxxx */
    ;
}

h2 {
    font-size: 1.2rem
        /* x.xrem */
    ;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px
        /* xxxpx (px = pixel is a unit of measure)  */
    ;
}

header,
footer,
footer a {
    text-align: center;
    background-color: chartreuse
        /* */
    ;
    color: black;
}

header img {
    width: 120px;
    height: auto;
    float: right;
}

footer {
    font-size: 1.0rem;
}

form {
    max-width: 50%;
    margin: auto;
    padding: 1rem;
    margin: .5rem auto;
}

fieldset {
    background-color: #FFFFFF;
    margin: 1rem;
    padding: .5rem;
}

form label.top {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

form label.top input {
    background-color: #FFFFFF;
    width: 100%;
    display: block;
    font-size: 1rem;
    padding: 3px;
}

form input#submissionButton {
    background-color: deepskyblue;
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 2rem;
    font-size: 1rem;
}